.centro {
    display: flex;
    justify-content: center;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px 0;
}
.imagem {
	border-radius: 10px;
}

h1 {
    font-size: var(--fs-title);
    font-weight: var(--fw-black);
  }

.titulo:first-child {
	font-weight: bold;
}

.titulo-pedido {
    text-align: center; 
    font-weight: bold;
}

.resumo {
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}

.plano {
    text-align: center;
    margin: 15px;
}

.bnt {
    font-size: 17px;
    color: white;
    font-style: bold;
    background-color: blue;
    padding-bottom: 15PX;
    border-radius: 10px;
    margin: 20px;
    width: 9%;
    font-weight: lighter;
    justify-content: center;
}

.bnt1 {
    font-weight: lighter;
    font-size: 16px;
    color: white;
    font-style: bold;
    background-color: blue;
    padding-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px 0;
}

.btn2 {
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    padding-bottom: 10px;
    outline: transparent;
    border: 1px solid transparent;
    margin: 20px;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px 0;
}
}



footer {
    text-align: center;
    padding: 20px;
    font-style: bold;
    font-size: 20px;
}

.atributo {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
  }

.copyright {
    padding: 20px;
    color: #BBBBBB;
    font-size: 13px;
    margin: 30px;
    color: #000000;
}