@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  --clr-paleblue: #e0e8ff;
  --clr-brightblue: #3829e0;
  --clr-brightblue-hover: rgba(56, 41, 224, 0.7);
  --clr-brightblue-shadow: rgba(56, 41, 224, 0.25);
  --clr-verypaleblue: #f5f7ff;
  --clr-desaturatedblue: #7280a7;
  --clr-darkblue: #1f2f56;
  --clr-white: white;
  /* Fonts Families */
  --ff-primary: "Red Hat Display", sans-serif;
  /* Fonts Sizes */
  --fs-title: 1.325rem;
  --fs-body: 0.875rem;
  /* Fonts Weight */
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}
@media only screen and (min-width: 1440px) {
  :root {
    --fs-title: 1.75rem;
    --fs-body: 1rem;
  }
}

:root {
  font-size: 16px;
}

body{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  }

h1 {
  padding: 10PX;
  text-align: center; 
  font-weight: bold;
  border-radius: 10px; 
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--clr-paleblue);
}


@media only screen and (min-width: 1440px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100%;
    background-color: var(--clr-paleblue);
  }
}

.btn {
  --bg-color: transparent;
  --bg-color-hover: transparent;
  --txt-color: var(--clr-desaturatedblue);
  --txt-color-hover: var(--clr-darkblue);
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  font-weight: var(--fw-black);
  background-color: var(--bg-color);
  color: var(--txt-color);
  text-align: center;
  padding: 0.9rem 1rem;
  border-radius: 10px;
  outline: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--bg-color-hover);
  color: var(--txt-color-hover);
}

.btn--primary {
  --bg-color: var(--clr-brightblue);
  --bg-color-hover: var(--clr-brightblue-hover);
  --txt-color: var(--clr-white);
  --txt-color-hover: var(--clr-white);
  -webkit-box-shadow: 0px 15px 20px var(--clr-brightblue-shadow);
          box-shadow: 0px 15px 20px var(--clr-brightblue-shadow);
}

.btn--block {
  display: block;
  width: 100%;
}

.sumario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 85%;
  max-width: 440px;
  margin: auto 0;
  color: var(--clr-desaturatedblue);
  background-color: var(--clr-white);
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 50px -7px var(--clr-brightblue-shadow);
  box-shadow: 0px 20px 50px -7px var(--clr-brightblue-shadow);
}

.hero img {
  display: block;
}

.contato {
  text-align: center;
  padding: 1.56rem;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  color: var(--clr-darkblue);
  font-weight: var(--fw-black);
}

@media only screen and (min-width: 1440px)
.legenda {
    justify-content: center;
}

.legenda {
    /* justify-content: center; */
    padding: 1.9
rem
 2
rem
;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.plano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-bottom: 1.4286em;
  padding: 0.9375rem;
  background-color: var(--clr-verypaleblue);
}

.plano img {
  margin-right: 1.25rem;
}

.plano span {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-weight: var(--fw-black);
  color: var(--clr-darkblue);
}

.mudar {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.plano a {
  margin-left: auto;
  font-weight: var(--fw-bold);
  color: var(--clr-brightblue);
  font-size: 0.875rem;
}

.plano a:hover {
  text-decoration: none;
  color: var(--clr-brightblue-hover);
}

.sumario .btn--primary {
  margin-bottom: 1em;
}

@media only screen and (min-width: 1440px) {
  .contato {
    padding: 2.5rem;
  }
  .plano {
    padding: 1.25rem;
  }
  .legenda {
   justify-content: center;
  }
}

.atributo {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}